* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes top-nav {
    to {
        background-color: rgb(255, 255, 255) !important;
    }
}

@keyframes top-header {
    to {
        background-color: rgb(255, 255, 255) !important;
    }
}

@keyframes top-ul {
    to {
        padding: 15px;
        margin-top: 5px;
    }
}

@keyframes top-logo {
    to {
        width: 160px;
    }
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    header {
        width: 100%;
        color: white;
        position: sticky !important;
        animation: top-header linear both;
        animation-timeline: scroll(root);
        animation-range: 0 200px;
        top: 0;

        nav {
            width: 100%;
            padding-top: 10px;
            background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            animation: top-nav linear both;
            animation-timeline: scroll(root);
            animation-range: 0 200px;

            img {
                width: 200px;
                animation: top-logo linear both;
                animation-timeline: scroll(root);
                animation-range: 0 200px;
            }

            ul {
                padding: 20px;
                border-top: 1px solid rgba(49, 49, 49, 0.607);
                border-bottom: 1px solid rgba(49, 49, 49, 0.607);
                width: calc(100% - 40px);
                margin-top: 10px;
                justify-content: center;
                align-items: center;
                gap: 30px;
                height: 20px;
                display: flex;
                list-style-type: none;
                animation: top-ul linear both;
                animation-timeline: scroll(root);
                animation-range: 0 200px;

                li a {
                    color: rgb(156, 156, 156);
                    text-decoration: none;
                    transition: .2s ease-in-out;

                    &:hover {
                        color: rgb(81, 81, 81);
                    }
                }

                li {
                    transition: .2s ease-in-out;

                    &:hover {
                        padding-bottom: 10px !important;
                    }
                }
            }
        }
    }

    main {
        width: 100%;

        .cont-all {
            padding: 50px;

            .cont-animaker {
                height: max-content;
                /* background-color: rgb(82, 82, 82); */
                display: flex;
                justify-content: center;
                align-items: center;

                video {
                    width: 90%;
                    border-radius: 10px;
                }
            }

            .section-resume {
                display: flex;
                flex-direction: column;
                width: 90%;
                margin-top: 60px;
                margin-bottom: 60px;
                background-color: rgba(36, 36, 36, 0.532);
                border-radius: 20px;
                padding: 50px;

                h2 {
                    font-size: 40px;
                    color: white;
                }

                .cont-all-boxes {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    margin-top: 30px;

                    .cont-box-resume {
                        display: flex;
                        background-color: rgb(43, 43, 43);
                        border: 1px solid rgb(133, 133, 133);
                        border-radius: 10px;
                        width: 100%;
                        padding: 15px;
                        gap: 10px;

                        .cont-info {
                            width: 50%;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            padding: 20px;

                            .title-resume {
                                font-weight: bold;
                                font-size: 27px;
                                color: rgb(212, 212, 212);
                            }

                            .minitext {
                                font-size: 16px;
                                color: rgb(101, 101, 101);
                                height: 170px;
                            }

                            .mini-button {
                                display: flex;
                                align-items: center;
                                background-color: black;
                                color: white;
                                text-decoration: none;
                                width: 90%;
                                justify-content: center;
                                padding: 9px;
                                font-size: 14px;
                                border-radius: 5px;
                                gap: 10px;
                                margin-top: 5px;

                                img {
                                    width: 20px;
                                    border-radius: 5px;
                                    transition: .3s ease-in-out;
                                }

                                &:hover img {
                                    margin-left: 5px;
                                }
                            }
                        }

                        .cont-img {
                            width: 50%;
                            height: 300px;

                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        display: flex;
        width: 90%;
        justify-content: space-around;
        padding-top: 70px;
        margin-bottom: 70px;
        align-items: center;
        border-top: 1px solid rgb(77, 77, 77);

        .cont-1 {
            display: flex;
            flex-direction: column;
            width: 50%;

            span {
                margin-bottom: 20px;
                color: gray;
            }

            img {
                width: 300px;
                margin-left: -5px;
            }

            .card {
                display: flex;
                height: 70px;
                width: 350px;
                gap: 10px;

                svg {
                    color: rgb(255, 255, 255) !important;
                    fill: rgb(255, 255, 255) !important;
                    display: flex;
                    width: 30px;
                    height: 30px;
                    z-index: 2;
                    padding: 0.25rem;
                    cursor: pointer;
                }

                a {
                    position: relative;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    transition: 0.25s;
                }
            }
        }

        .cont-2 {
            span {
                color: rgb(255, 255, 255);
                font-size: 17px;
                font-weight: bold;
                margin-left: -17px;
            }

            .cont-lists{
                display: flex;
                gap: 50px;
            }

            ul {
                list-style-type: circle;
                color: white;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                li a {
                    text-decoration: none;
                    font-size: 15px;
                    color: rgb(207, 207, 207);

                    span {
                        font-size: 14px;
                        color: rgb(80, 80, 80);
                    }
                }
            }
        }
    }
}